@model IEnumerable<WebApplication.Models.Cliente>

@{
    ViewData["Title"] = "Lista de Clientes";
}
<div class="text-center">
    <h1>Client list</h1>
</div>
<hr />
<div class="text-center">
    <a class="btn btn-outline-success" asp-action="Create" asp-controller="Cliente">Add a new Customer</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Date of birth
            </th>
            <th>
                City
            </th>
            <th>
                Sex
            </th>
            <th>
                User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.ClienteId">Edit</a>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.ClienteId">View Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ClienteId">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
