@model IEnumerable<WebApplication.Models.Funcionario>

@{
    ViewData["Title"] = "List of Employee";
}
<div class="text-center">
    <h4>List of Employee</h4>
</div>
<div class="text-center">
    <a class="btn btn-outline-success text-center" asp-action="Create">
        Novo Funcionário
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Roles
            </th>
            <th>
                Salary
            </th>
            <th>
                Admission date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFuncionario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CargoFuncionario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalarioFuncionario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAdmissao)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.FuncionarioId">Edit</a>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.FuncionarioId">Detials</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.FuncionarioId">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
